body,p{ margin: 0; }
input{
  border: none;
  outline: none;
  background: none;
  padding: 0;
}

button{
  padding: 0;
  border: none;
  outline: none;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

.te{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
